@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    padding-left: 160px;
    padding-right: 160px;
    background: rgb(245, 245, 245);
    margin: 0px;


}

header{
    margin-bottom: 0px;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header>nav>li{
    list-style: none;
}


.ban{
    font-size: 32px;
    font-weight: 700;
    display: flex;
    margin-left: 0px;
}

header>nav>li>button{
    width: 116px;
    height: 52px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 106, 80);
    transition: .3s;
    background: transparent;
    
}

header>nav>li>button:hover{
    background: rgb(0, 106, 80);;
    color: white;
    border: none;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*ban-2 0 section*/
.ban-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(198, 228, 214);
    padding: 80px;
    border-radius: 24px;
    gap: 64px;

}

.ban-2-banner{
    display: flex;
    flex-direction: column;
}

.ban-2-banner>h5{
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}
.ban-2-banner>h3{
    font-size: 56px;
    font-weight: 700;
    margin: 0px;
    margin-top: 16px;
}
.ban-2-banner>button{
    width: 270px;
    height: 56px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-top: 24px;
    border: none;
    transition: .4s;
}
.ban-2-banner>button:hover{
    background: transparent;
    border: 2px solid rgb(0, 106, 80);
    color: black;
    transform: scale(1.05);
}

.ban-2>div>img{
    Width: 474.03px;
    Height: 400px;
}
/*pillars section*/

.pillars{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin-top: 80px;
    gap: 32px;
}

.title{
    font-size: 40px;
    font-weight: 700;
}
.box-flex{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.box{
    width: 302px;
    height: 244px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
}
.icon{
    width: 62px;
    height: 62px;
    margin-bottom: 0px;
}
.title-1{
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 0px;
}
.text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}


/*future section*/

.future{
    margin-top: 80px;
}

.box-2{
    gap: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}
.vision-1{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.vision-2{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}
.vision-3 {
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
}



.vision-1>button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    font-size: 16px;
    font-weight: 600;color: white;
    border: none;
    margin-top: 24px;
    transition: .4s;
}
.vision-1>button:hover{
    background: transparent;
    border:  1px solid rgb(0, 106, 80);
    color: black;
}

.vision-2>button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    font-size: 16px;
    font-weight: 600;color: white;
    border: none;
    margin-top: 24px;
    transition: .4s;
}
.vision-2>button:hover{
    background: transparent;
    border:  1px solid rgb(0, 106, 80);
    color: black;
}

.vision-3>button{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    font-size: 16px;
    font-weight: 600;color: white;
    border: none;
    margin-top: 24px;
    transition: .4s ;
}
.vision-3>button:hover{
    background: transparent;
    border:  1px solid rgb(0, 106, 80);
    color: black;
}

/*Dr. Muhammad Yunus section*/

.younus{
    width: 1280px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding-bottom: 48px;
    padding-top: 48px;
    padding-left: 24px ;
    padding-right: 24px ;
    margin-top: 32px;
}
.younus>div{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}


.younus>div>div>p{
    font-size: 16px;
    font-weight: 400;
}
.younus>div>div>h2{
    font-size: 20px;
    font-weight: 600;
}


/*news section*/
.news{
    margin-top: 80px;
}
.news>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;margin-top: 32px;
}

.aljazeera{
   display: flex;
   gap: 32px;
   background: rgb(255, 255, 255);
   border-radius: 24px;
   width: 1280px;
   height: 402px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 48px;
}
.aljazeera-middle{
   display: flex;
   gap: 32px;
   background: rgb(255, 255, 255);
   border-radius: 24px;
   width: 1280px;
   height: 402px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   padding: 48px;
}



.news>div>div>img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.news>div>div>div>h1{
    font-size: 32px;
    font-weight: 700;
}
.news>div>div>div>img{
    width: 134px;
    height: 40px;
}
.news>div>div>div>p{
    font-size: 16px;
    font-weight: 400;
}
.news>div>div>div>button{
    width: 139px;
    height: 48px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: .4s;
}
.news>div>div>div>button:hover{
    background: transparent;
    border: 1px solid rgb(0, 106, 80);
    color: black;
    transform: scale(1.1);
}




/*donet section*/
.donet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}
.donet>div{
    gap: 24px;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}
.taka{
    width: 252px;
    height: 128px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.taka:hover{
    background: rgb(0, 106, 80);
    color: white;
}

.taka-200{
    width: 252px;
    height: 128px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.taka-200:hover{
    background: rgb(0, 106, 80);
    color: white;
}


.donet>button{
    width: 139px;
    height: 48px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: .4s;
    margin-top: 32px;
}
.donet>button:hover{
    background: transparent;
    border: 1px solid rgb(0, 106, 80);
    color: black;
    transform: scale(1.1);
}

.donet>input{
    width: 1032px;
    height: 64px;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 32px;
}
.donet>input::placeholder{
    color: rgba(14, 14, 14, 0.3);
}

.donet>h1{
    margin-bottom: 0px;
}
.donet>p{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 0px;
}

/*newsletter section*/

.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 80px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 80px;
    
}
.newsletter>h1{
    margin-top: 0px;
    margin-bottom: 0px;
}
.newsletter>p{
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0px;
}
.newsletter>div{
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-top: 24px;
    margin-bottom: 0px;
}
.newsletter>div>input{
    width: 600px;
    height: 55px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border: none;
 
}

.newsletter>div>input::placeholder{
    font-size: 16px;
    font-weight: 400;
    padding-left: 40px;
    color: rgba(14, 14, 14, 0.3);
}
.newsletter>div>button{
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px 17px 34px;
    transition: .4s;
}
.newsletter>div>button:hover{
    border-radius: 0px 8px 8px 0px;
    transform: scale(1.05);
}

.text-promise{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}
